<div class="form-wrapper">
  <div class="bg"></div>
  <mat-card>
    <mat-card-title color="primary">
      Welcome Back!
    </mat-card-title>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Insert your e-mail" type="email" required formControlName="email">
        <mat-error *ngIf="this.form.invalid">{{ getEmailError() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Insert your password" type="password" required formControlName="password">
        <mat-error *ngIf="this.form.invalid">{{ getPasswordError() }}</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-flat-button>
          Register
        </button>
        <app-loading-button label="Login" [loading]="loading"></app-loading-button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>  
