.mat-flat-button ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ffffffa1;
}

.loading {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-flat-button {
  width: 100%;
}
